*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --primary: #287bac;
    --secondary: #292E91;
    --light-gray: #e5e7eb;
    --text: #f1f5f9;
}

body {
    background-image: linear-gradient(45deg, var(--primary), var(--secondary));
    min-height: 100vh;
    font-family: sans-serif;
    color: var(--text);
    display: flex;
    flex-direction: column;
}
button{
    height: 32px;
    width: 400px;
    border-radius: 12px;
    background-color: var(--secondary);
    color: white;
    font-weight: bold;
    outline: none;
    border: 1px solid var(--secondary);
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    transform: translateY(-4px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

.back{
    position: fixed;
    color: white;
    width: 64px;
    height: 64px;
    margin: 16px;
}
.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
.input-box input{
    height: 32px;
    width: 400px;
    border-radius: 8px;
    outline: none;
    border: white;
    transition: 0.3s;
    align-self: center;
    padding: 0 10px;
}
.input-box input:focus{
    border: 2px solid var(--primary);
    transform: translateY(-2px);
}

.forms{
    background-color: var(--light-gray);
    padding: 20px;
    margin: 5%;
    border-radius: 16px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    align-self: center;
}
.forms h3{
    margin-bottom: 12px;
}